{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "/blog/css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        <h1>
            <a class="title" href="/blog/">
            <img class="title" src="{% static "/blog/logo.png" %}" />
            Lisie Ptysie
            </a>
        </h1>
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <img class="sidebar" src="{% static "/blog/zdj2.jpg" %}">
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>
        <h3>Gallery</h3>
        <p>
            Latest image
            <br />
        {% get_last_photo as last_photo %}
        {% if last_photo != None %}
            <a href="{{ last_photo.get_absolute_url }}">
                <img class="gallery" src="http://localhost:8080/media/{{last_photo.image}}" alt="{{last_photo.title}}">
            </a>
            <br />
        {% endif %}
        <a class="sidebar" href="/blog/gallery/">Show all images</a>
        </p>
        <h3>Latest posts</h3>
        {% get_latest_posts 3 as latest_posts%}
        <ul> 
        {% for post in latest_posts %}  
            <li>    
                <a class="sidebar" href="{{ post.get_absolute_url }}">{{ post.title }}</a>  
            </li> 
        {% endfor %} 
        </ul>

        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul> 
        {% for post in most_commented_posts %}  
            <li>    
                <a class="sidebar" href="{{ post.get_absolute_url }}">{{ post.title }}</a>  
            </li> 
        {% endfor %} 
        </ul>
    </div>
</body>
</html>